<a href="https://colab.research.google.com/github/juliakaneko/Micro-Credential-Winter-2022/blob/main/Day_5_Intro_to_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series in Pandas

In [25]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(42)

In [26]:
labels = ['a','b','c','d']
my_data = [10,20,30,40]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30,'d':40}

In [27]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [28]:
#Create a series of 10 cities and years

In [29]:
labels = ['NY','Tokyo','London','Paris','Los Angeles',
          'Chicago','San Fransisco',"San Diego",'Philadelphia','Orlando']
my_data = [1964,2000,1985,2001,2004,
           2021,2003,1965,1954,1967]
pd.Series(data=my_data,index=labels)

NY               1964
Tokyo            2000
London           1985
Paris            2001
Los Angeles      2004
Chicago          2021
San Fransisco    2003
San Diego        1965
Philadelphia     1954
Orlando          1967
dtype: int64

In [30]:
#One dimentional data frame
pd.Series(data=labels,index=my_data)

1964               NY
2000            Tokyo
1985           London
2001            Paris
2004      Los Angeles
2021          Chicago
2003    San Fransisco
1965        San Diego
1954     Philadelphia
1967          Orlando
dtype: object

#Data Frames

In [31]:
data = pd.DataFrame(randn(5,4),['A','B','C','D','E'],
                    ['W','X','Y','Z'])

In [44]:
data

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [45]:
df_1 = data['W']
df_2 = data["X"]
df_3 = data["Y"]
df_4 = data["Z"]

In [46]:
df_1

A    0.496714
B   -0.234153
C   -0.469474
D    0.241962
E   -1.012831
Name: W, dtype: float64

In [47]:
df_2

A   -0.138264
B   -0.234137
C    0.542560
D   -1.913280
E    0.314247
Name: X, dtype: float64

In [48]:
df_3

A    0.647689
B    1.579213
C   -0.463418
D   -1.724918
E   -0.908024
Name: Y, dtype: float64

In [49]:
df_4

A    1.523030
B    0.767435
C   -0.465730
D   -0.562288
E   -1.412304
Name: Z, dtype: float64

In [50]:
data

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [51]:
data['new'] = data['Y'] + data['W']

In [52]:
data

          W         X         Y         Z       new
A  0.496714 -0.138264  0.647689  1.523030  1.144403
B -0.234153 -0.234137  1.579213  0.767435  1.345059
C -0.469474  0.542560 -0.463418 -0.465730 -0.932892
D  0.241962 -1.913280 -1.724918 -0.562288 -1.482956
E -1.012831  0.314247 -0.908024 -1.412304 -1.920855

# Create a new colunm with the combination of 3 columns from our dataset

In [54]:
data['new'] = data['Y'] + data['W']
data

          W         X         Y         Z       new
A  0.496714 -0.138264  0.647689  1.523030  1.144403
B -0.234153 -0.234137  1.579213  0.767435  1.345059
C -0.469474  0.542560 -0.463418 -0.465730 -0.932892
D  0.241962 -1.913280 -1.724918 -0.562288 -1.482956
E -1.012831  0.314247 -0.908024 -1.412304 -1.920855

In [56]:
data['Sum XYZ'] = data['X']+ data['Y']+data['Z']
data

          W         X         Y         Z       new   Sum XYZ
A  0.496714 -0.138264  0.647689  1.523030  1.144403  2.032454
B -0.234153 -0.234137  1.579213  0.767435  1.345059  2.112511
C -0.469474  0.542560 -0.463418 -0.465730 -0.932892 -0.386587
D  0.241962 -1.913280 -1.724918 -0.562288 -1.482956 -4.200486
E -1.012831  0.314247 -0.908024 -1.412304 -1.920855 -2.006080