<a href="https://colab.research.google.com/github/juliakaneko/Micro-Credential-Winter-2022/blob/main/Day_3_In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Looping

In [159]:
# Create a list that holds 5 data variables.
Fruits= ['apples', 'bananas', 'mangoes', 'cherries', 'pears']

In [160]:
# Print out those variables by using a for loop.
for x in Fruits:
  print(x)

apples
bananas
mangoes
cherries
pears

In [163]:
# Modify your for loop to add a message to your for loop.
for x in Fruits:
  print(x.title()+' are one of my favorite fruits.')

Apples are one of my favorite fruits.
Bananas are one of my favorite fruits.
Mangoes are one of my favorite fruits.
Cherries are one of my favorite fruits.
Pears are one of my favorite fruits.

In [164]:
# Use a for loop to print even numbers from 1-20.
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [165]:
List_1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [166]:
for x in List_1:
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

In [167]:
# Sort your list in alphabetic order.
print(sorted(Fruits))

['apples', 'bananas', 'cherries', 'mangoes', 'pears']

In [168]:
# Print out the first three elements of your list.
print(Fruits[0:3])

['apples', 'bananas', 'mangoes']

In [169]:
#Create a loop to print the last 2 elements of your list.
print(Fruits[-1])
print(Fruits[-2])

pears
cherries

#Python Dictionaries

In [170]:
# Create a simple dictionary that stores 2 variables, for example: first and last name.
Name = {'first_name': 'Emma', 'last_name':'Watson'}

In [171]:
# Print out those variables stored in your previous dictionary.
print(Name['first_name'])
print(Name['last_name'])

Emma
Watson

In [172]:
# Add a message to those variables on printing: for example: “Hello, firstname lastname!”
Person = Name['first_name'] + ' ' + Name['last_name']
print('Hello, ' + Person)

Hello, Emma Watson

In [173]:
#Create a dictionary that holds 2 key: value pairs:
Siblings= {'John':'brother','Kate':'sister'}

In [174]:
#a. Look through your dictionary and print each pair,
print(Siblings.items())

dict_items([('John', 'brother'), ('Kate', 'sister')])

In [175]:
#Create a nested dictionary containing three dictionaries – these dictionaries could be anything (favorite pets, travel locations, etc.)
Tourist_Places = {'Place':{'United States':{'City':'New York'}}}

In [178]:
#a. Loop through the dictionaries and print a message for each.
Tourist_Places = {'Place':{'United States':{'City':'New York'}}}
for x in Tourist_Places.items:
  print('My favorite place to go is' + x)

TypeError: ignored